<template name="league">
  <div class="row">
    <div class="span3 text-right nav-actions">
      <p><a href="/tournaments">Tournaments</a></p>
      {{> usernav}}
    </div>
    <div class="span9 create">
      <div class="row">
        <div class="span6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Snidd
                </td>
              </tr>
              <tr>
                <td>
                  Nille
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>