
<template name="signup">
  <div class="row">
      <div class="span3 text-right nav-actions">
        {{> loginnav}}
      </div>
      <div class="span5">
        <div class="row">
          <div class="span5">
            <form id="signupform">
          <fieldset>
            <legend class="signup">Create an account</legend>
            <div class="control-group username ok">
              <div class="controls">
                <input class="span4 username" type="text" placeholder="Username">
                <span class="help-inline username">Username is already taken</span>
              </div>
            </div>

            <div class="control-group email ok">
              <div class="controls">
                <input class="span4 email" type="text" placeholder="Email">
                <span class="help-inline email">Invalid email</span>
              </div>
            </div>
            
            <div class="control-group password ok">
              <div class="controls">
                <input class="span4 password" type="password" placeholder="Password">
                <span class="help-inline password"></span>
              </div>
            </div>

            <button type="submit" id="submitbtn" class="btn btn-primary">Create account</button>
          </fieldset>
        </form>
          </div>
        </div>
        
      </div>
    </div>
</template>