<template name="tournaments">
  <div class="row">
  	<div class="span3 text-right nav-actions">
  		{{#if loggedIn}}
  			<p><a href="/create">Create a league</a></p>
  			{{> usernav}}
  		{{else}}
  			{{> loginnav}}
  		{{/if}}
  	</div>
  	<div class="span9 tournaments">
  		
  		{{#each tournamentRows}}
  			<div class="row">
  				{{#each tournaments}}
		      	<div class="span4 tourney {{type}}">
		      		<div class="row">
		      			<div class="span2 name"><img src="/img/blank.png" class="flag flag-{{country}}" alt="{{country}}" /> {{name}}</div>
		      			<div class="span2 date">{{tournamentdate startDate endDate}} <span class="format">{{nobreak format}}</span></div>
		      		</div>        		
		      		<div class="row">
		      			<div class="span2 timeleft">({{timeleft startDate}})</div>        			
		      		</div>
		      		{{#if showPick this}}
			      		<div class="row">
			        			<div class="span4"><button class="btn pick btn-mini btn-primary" type="button">Pick my top 8!</button></div>        			
			        	</div>
			        {{/if}}
			        {{#if hasTeam this}}
						<div class="row">
							<div class="span4">
								<ul class="myteams">
									{{#with myTeam this}}
		        					<li><a class="link teamname">{{name}}</a> {{leagueDescription}}</li>
		        					<ul class="myleagues">
		        						{{#each leagues}}
		        						<li><a href="#">Jockes liga</a></li>
		        						{{/each}}
		        						<li>
		        							<button class="btn findleagues btn-mini" type="button">Find leagues</button>
		        						</li>
		        					</ul>
		        					{{/with}}
		        				</ul>
							</div>
						</div>
			        {{/if}}
		      	</div>
		      {{/each}}
	    	</div>
  		{{/each}}
		</div>
  </div>
</template>