<template name="top8">
  <div class="row">
  	<div class="span3 text-right nav-actions">
  		<p><a href="/tournaments">Back</a></p>
  		{{> usernav}}
  	</div>
  	<div class="span9 top8">
		<div class="row">
			<div class="span6">
				<h3 class="title">{{tourneyName}}</h3>
				{{#if haveteam}}
				<h4 class="subtitle">{{myTeamName}}</h3>
				{{/if}}
			</div>
		</div>
		{{#if noteam}}
		<div class="row">
			<div class="span6">
				<input class="span4 teamname" type="text" placeholder="Choose team name">
			</div>
		</div>
        <div class="row">
			<div class="span3">
				<button class="btn btn-primary" id="saveTeamBtn">Create my team</button>
			</div>
		</div>
		{{else}}
			{{#each pickRows}}
			<div class="row">
				{{#each picks}}
    			<div class="span3">
					<div class="input-prepend">
						 {{#isolate}}
						{{#if currentEditing position}}
							<button class="btn addPick id-{{position}}" type="button"><i class="icon-ok"></i></button>
							<input type="text" class="replaceButton id-{{position}}" type="text" placeholder="Name of player" value="{{name}}"/>
						{{else}}
							<span class="add-on">{{position}}.</span>						
							<button class="btn selectPlayer id-{{position}} {{addButtonClass this}}" type="button">{{addButtonText this}}</button>
							<input type="hidden" class="id-{{position}} hiddenname" value="{{name}}"/>
						{{/if}}	
						{{/isolate}}					
					</div>
				</div>
				{{/each}}
			</div>
			{{/each}}
			<div class="row">
				<div class="span3"><button class="btn saveteam btn-primary">Save</button></div>
			</div>
		{{/if}}
	</div>
  </div>
</template>