body {
	background-color: #EFEFE5;
	color: #444;
	padding-top: 25px;
}

@lighterTextColor: #bbb;
@mediumTextColor: #757575;

.smallertext {
	color: @lighterTextColor;	
	font-size: 11px;
}

.link {
	cursor: pointer;
}

input.replaceButton {
	
	width: 130px;


	&.dontshow {
		display: none;
	}
}

button.dontshow {
	display: none;
}

div.league {
	.plus {
		position: absolute;
		top: 15px;
		right: 10px;
	}

	.row.add {
		margin-bottom: 10px;
	}

	.membercount {
		.smallertext;
		margin-top: -10px;
	}
}


#loginModal {
	width: 300px;
	form {
		margin-bottom: 0px;
	}
	.modal-header {
		text-align: left;
	}

	.alert {
		text-align: left;
		margin-bottom: 0px;
		margin-top: 10px;
	}

	.modal-body {
		input {
			display: block;
		}
	}

	.modal-footer {
		text-align: left;
	}
}


.shadowedbox {
	-moz-box-shadow: 7px 7px 3px #999;
	-webkit-box-shadow: 7px 7px 3px #999;
	box-shadow: 7px 7px 3px #999;
	border: 1px solid #222;
	padding: 7px;
	border-radius: 2px;
}

div.top8 {
	.standings {
		margin-bottom: 15px;
	}
}

div.displaypick {
	&.found {
		opacity: 1;
	}

	&.notfound {
		opacity: 0.6;
	}
	.shadowedbox;
	margin-bottom: 20px;
	background-color: #eee;
	.position {
		color: #00f;
		margin-right: 5px;
	}
	.name {
		font-weight: bold;
	}
}

div.tourney {
	.shadowedbox;
	position: relative;
	margin-bottom: 20px;
}
div.pt {
	background-color: #F2F5D5;
}
div.gp {
	background-color: #fff;
}

legend.signup {
	line-height: 15px;
}

form.m8form {
	margin-top: 0px;

	.description {
		margin-bottom: 12px;
		font-style: italic;
	}
}

div.control-group
{
	legend + &.ok {
		
	}
	&.info {
		margin-top: 0px;
		
	}
	&.error {
		margin-top: 0px;
		
	}
	&.ok {
		margin-bottom: 0px;
		margin-top: 0px;

		.help-inline {
			display: none;

		} 
	}
}

h1.header {
	font-family: 'Advent Pro', sans-serif;
	font-size: 72px;
	margin-bottom: 30px;
	color: #222;
}

h3.title {
	
	font-size: 22px;
	margin-top: -12px;
	margin-bottom: 5px;
	color: #222;
}

h4.subtitle {
	margin-top: 0px;
	margin-bottom: 10px;
}

div.admin {
	.row {
		margin-bottom: 15px;

		&.standings {
			margin-bottom: 0px;
		}
	}
}

div.createteam {
	padding-left: 20px;
	.alertspan {
		margin-left: 0px;
	}
}

button.pick {
	margin-top: 3px;
	margin-bottom: 5px;
}

div.tournaments {
	/*margin-left: 0px;*/
	&.loading {
		display: none;
	}
	.loading {
		font-style: italic;
		color: @lighterTextColor;
	}
}

ul.myteams {
	list-style-type: none;
	margin-left: 0px;
	.points {
		color: @mediumTextColor;
	}
}

ul.myteams .teamname {
	font-weight: bold;
}

ul.myleagues {
	list-style-type: none;
	margin-left: 0px;
}

button.saveteam {
	margin-bottom: 15px;
}

div.tourney {
	.name {
		font-weight: bold;
	}	

	.date {
		color: #222;	
		font-style: italic;
	}

	.format {
		color: #00f;	
	}

	.timeleft {
		.smallertext;
		margin-top: -3px;
	}

}

div.nav-actions {
	height: 100%;
}

ul.myteams {
	margin-bottom: 0px;
}

@media (max-width: 480px) { 
	h1.header {
		font-family: 'Advent Pro', sans-serif;
		font-size: 55px;
		margin-bottom: 15px;
	}

	body.m8 {
		background-color: #efefef;
		color: #444;
		padding-top: 10px;
	}
}

@media (min-width: 390px) {
	.input-prepend {
		.playerName {
			width: 280px;
		}
		input.playerName {
			text-align: center;
		}

		.typeahead.dropdown-menu {
			width: 280px;
			text-align: center;
		}
	}

}

@media (max-width: 767px) { 
	div.text-right.nav-actions {
		text-align: left;
	}

	h1.header {
		margin-bottom: 25px;
	}

	div.createteam {
		padding-left: 0px;
	}
}